<<<<<<< HEAD
<p id="notice"><%= notice %></p>
<h1><%= @page.title %></h1>
<p><%= simple_format(@page.content) %></p>
  




=======
<div class="pages">
  <h3><%= @page.description %></h2>
  <%= @page.content.html_safe %>
</div>


>>>>>>> e422c6e8002b37bbaf68cf71f97e1061ddc06321
