<ul class="news-list">
  <ul class="list">
    <% @posts.each do |post| %>
    <li class="post">
      <div class="news-image"><a href="<%= post_path(post) %>"><img src="<%= post.image.thumb.url %>"></a></div>
      <div class="wrap">
        <div class="title"><a href="<%= post_path(post) %>"><%= post.title %></a> </div>
        <div class="desc"><%= truncate(post.description.strip_tags, :length => 180, :separator => ' ') %></div>
      </div>
    </li>
    <hr>
    <% end %>
  </ul>
</ul>
<%= paginate @posts %>