<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @agit.name %>
</p>

<p>
  <b>Description:</b>
  <%= @agit.description %>
</p>

<p>
  <b>Image:</b>
  <%= @agit.image %>
</p>


<%= link_to 'Edit', edit_agit_path(@agit) %> |
<%= link_to 'Back', agits_path %>
